
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.code-editor {
  font-size: 15px;
  border: 0.2px solid #fff;
  border-radius: 4px;
  outline: none;
}


textarea {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  resize: none;
  padding: 10px;
}

.App button {
  outline: none !important;
  margin: 10px 0;
  background-color: green;
  color: #fff;
}

.t2 {
  margin-left: 20px;
}

.select-language {
  margin: 10px 0;
  border: 1px solid #888;
  padding: 5px;
  border-radius: 4px;
  outline: none;
}

.code-config {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.html-code {
  width: 622px;
  height: 380px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  font-size: 15px;
  border: 0.2px solid #fff;
  border-radius: 4px;
  outline: none;
}